{%extends 'base.html' %}

{%block content%}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsa sint dolorem? Error tempora expedita quod, dicta et fugiat ducimus cupiditate accusamus sit debitis molestias quidem eaque, dolorem animi labore?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ipsum dolores officia dolorem, pariatur, voluptates voluptate laboriosam a velit eligendi, sequi quos debitis saepe repellat magni laudantium dolor! Distinctio, inventore.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quia saepe et amet suscipit, ducimus deserunt vel ullam magnam. Corporis cumque minus corrupti id maxime expedita ipsum ab consequatur animi.</p>
{% endblock content %}